{% extends "base.html" %}

{% block head %}


{% endblock %}

{% block title %} File editor {% endblock %}
{% block content %}
<br>
        <form action="" method="POST">
            <a href="/home/{{old_directory}}"> Go back one Directory  </a> Directory = {{ displayed_directory }}
           <br>
            <input type="hidden" value="{{ directory }}" name="directory">
            <table id="datatable" class="display">
                <thead>
                    <tr>
                        <th>File Type</th>
                        <th>File Name </th>
                        <th>Last edited</th>
                        <th>File Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                                {% if row["type"] == "dir" %}
                            <!-- this outputs if the row is a directory. The URL to navigate into the directory gets build here. -->
                            <td><a href="/home/{{displayed_directory}}{{row['name']}}/"> Directory  </a></td>
                            <td><a href="/home/{{displayed_directory}}{{row['name']}}/"> {{ row['name'] }}  </a></td>
                                {% else %}
                            <!-- This gets executed if the row is a file. The download URL gets build here.  -->
                            <td><a href="/download{{displayed_directory}}{{row['name']}}"> File </a></td>
                            <td><a href="/download{{displayed_directory}}{{row['name']}}">{{ row["name"] }} </a></td>
                                {% endif %}
                            <td> {{ row["modification_date"]}}</td>
                            <td> {{ row["file_size"] }}</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </form>
{% endblock %}
