{% extends "base.html" %}

{% block head %}


{% endblock %}

{% block title %} File editor {% endblock %}
{% block content %}
<br>
    <form method=POST enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
      <input type="hidden" value="{{ directory }}" name="directory">

    </form>

        <form action="" method="POST">
            <a href="/logged_in/{{old_directory}}/"> Go back one Directory  </a> Directory = {{ directory_anzeige }}
            <input type="hidden" value="{{ directory }}" name="directory">
            <input type="hidden" value="{{ directory_anzeige }}" name="directory_anzeige">
            <table id="datatable" class="display">
                <thead>
                    <tr>
                        <th>File Type</th>
                        <th>File Name </th>
                        <th>Last edited</th>
                        <th>File Size</th>
                        <th>Delete File / Directory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                                {% if row["type"] == "dir" %}
                            <td><a href="/logged_in/{{directory_anzeige}}{{row['name']}}/"> Directory  </a></td>
                            <td><a href="/logged_in/{{directory_anzeige}}{{row['name']}}/"> {{ row['name'] }}  </a></td>
                            <td> {{ row["modification_date"]}}</td>
                            <td> {{ row["file_size"] }}</td>
                            <td><button type="submit" formaction="/confirm_delete" class="btn btn-link" name="del_dir" value="{{ row['name'] }}"> Delete Directory </button></td>
                                {% else %}
                            <td><a href="/download{{directory_anzeige}}{{row['name']}}"> File </a></td>
                            <td><a href="/download{{directory_anzeige}}{{row['name']}}">{{ row["name"] }} </a></td>
                            <td> {{ row["modification_date"]}}</td>
                            <td> {{ row["file_size"] }}</td>
                            <td><button type="submit" formaction="/confirm_delete" class="btn btn-link" name="del_file" value="{{row['name']}}"> Delete File </button></td>
                                {% endif %}

                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </form>

{% endblock %}
